@using Spinfluence.Data;
@using Spinfluence.Services;
@inject IPracticeService practiceService;

@{
    string? token = Context.Request.Cookies["token"];
    PracticeEventModel[] practiceEventList = new PracticeEventModel[0];

    if(!string.IsNullOrEmpty(token))
        practiceEventList = await practiceService.GetPracticesAsync(token);

    int n = practiceEventList.Length;
    ViewData["Title"] = "Stagiile mele";
}

<section>
    <br/><br/><br/><br/>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            @if (n > 0)
            {
                <table class="table table-hover">
                    <thead style="background-color: #668cc3; color: white;">
                        <tr>
                            <th>Numele Evenimentului</th>
                            <th>Numele Companiei</th>
                            <th>Descriere</th>
                            <th>Perioada</th>
                            <th>Locuri disponibile</th>
                            <th>Atasamente</th>
                            <th>Actiuni</th>
                        </tr>
                    </thead>
                    <tbody style="background-color: #abc1e1;">
                        @foreach (var practiceEvent in practiceEventList)
                        {
                            <tr>
                                <td>@practiceEvent.Name</td>
                                <td>@practiceEvent.CompanyName</td>
                                <td>@Html.Raw(practiceEvent.Body)</td>
                                <td><small>@($"{practiceEvent.BeginDate.ToString("dd/MM/yyyy")} -> {practiceEvent.EndDate.ToString("dd/MM/yyyy")}")</small></td>
                                <td><center>@practiceEvent.Seats</center></td>
                                <td>
                                    @if (string.IsNullOrEmpty(practiceEvent.Resume) && string.IsNullOrEmpty(practiceEvent.CoverLetter))
                                    {
                                        <span style="margin-left: 30%; margin-top: 10%;" class="fa fa-times text-danger"></span>
                                    }
                                    @if (!string.IsNullOrEmpty(practiceEvent.Resume))
                                    {
                                        <small>
                                            <a style="text-decoration: none;" href="/Practice/Show/?id=@practiceEvent.PracticeId&type=resume">@practiceEvent.Resume.Substring(practiceEvent.Resume.LastIndexOf("/") + 1)</a>
                                        </small>
                                    }<br />
                                    @if (!string.IsNullOrEmpty(practiceEvent.CoverLetter))
                                    {
                                        <small>
                                            <a style="text-decoration: none;" href="/Practice/Show/?id=@practiceEvent.PracticeId&type=coverLetter">@practiceEvent.CoverLetter.Substring(practiceEvent.CoverLetter.LastIndexOf("/") + 1)</a>
                                        </small>
                                    }
                                </td>
                                <td>
                                    <button class="btn btn-sm" style="background-color: #abc1e1; border-radius: 50%; margin-left: 10%;" onclick="RemovePractice(@practiceEvent.PracticeId)">
                                <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                                </button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="d-flex align-items-center justify-content-center vh-100">
                    <div class="text-center">
                        <h1 class="display-1 fw-bold">404</h1>
                        <p class="fs-3"> <span class="text-danger">Ups!</span> Nu ati aplicat la nici un program internship.</p>
                        <p class="lead">
                            Momentan nu aveti evenimente active pentru companii.
                        </p>
                        <a href="/Home/" class="btn btn-primary">Go Home</a>
                    </div>
                </div>
            }
        </div>
        <div class="col-1"></div>
    </div>
</section>